<ion-view hide-nav-bar=true> 
        <ion-header-bar class="bar-stable bar bar-header" align-title="center" style="background: goldenrod;font-size: x-large;color: azure;padding: 13px;">
                <i class="icon ion-arrow-left-c" style="position:absolute;left:3%" ng-click = "gobackFrmParking()"></i>
        </ion-header-bar>
        <ion-content style="background:goldenrod;font-size: x-large;color: azure;padding: 13px;">
        <div class="row">
            <div class="col col-50 content-box1" ng-click="showMasjidDetails()">
                <div class="outer-content1 flex1">
                    <div class="row">
                        <div class="col col-100"><img class="centerImg1" src="img/parking.png"></div>
                    </div>
                    <div class="row">
                        <div class="col col-100 playlist_text1">
                            <p>Parking Info</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50 content-box1" ng-click="testing()">
                <div class="outer-content1 flex1">
                    <div class="row">
                        <div class="col col-100"><img class="centerImg1" src="img/car.png"></div>
                    </div>
                    <div class="row">
                        <div class="col col-100 playlist_text1">
                            <p>Car Pooling</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 content-box1">
                <div class="outer-content1 flex1">
                    <div class="row">
                        <div class="col col-100"><img class="centerImg1" src="img/event.png"></div>
                    </div>
                    <div class="row">
                        <div class="col col-100 playlist_text1">
                            <p>Events</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50 content-box1">
                <div class="outer-content1 flex1">
                    <div class="row">
                        <div class="col col-100"><img class="centerImg1" src="img/Shuttle.png"></div>
                    </div>
                    <div class="row">
                        <div class="col col-100 playlist_text1">
                            <p>Shuttle Service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 content-box1">
                <div class="outer-content1 flex1">
                    <div class="row">
                        <div class="col col-100"><img class="centerImg1" src="img/mosque.png"></div>
                    </div>
                    <div class="row">
                        <div class="col col-100 playlist_text1">
                            <p>Iqama Timing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50 content-box1">
                <div class="outer-content1 flex1">
                    <div class="row">
                        <div class="col col-100"><img class="centerImg1" src="img/no-parking.png"></div>
                    </div>
                    <div class="row">
                        <div class="col col-100 playlist_text1">
                            <p>Something</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
