<ion-view hide-nav-bar="true">
    <ion-content style= "background-image: url('img/mainBackground.png');background-repeat: no-repeat;background-size: cover;">
        <!-- <div class="signup-title">
        <div> Parking Assets</div>
        <div>Good Parking, Good Neighbours</div>
        </div> -->
        <div class="option-buttons">
            <div class="row">
                <div class="col col-50">
                    <button class="button button-block"  ng-click = "scanBarcode()">
                        SignUp
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-block" ng-click = "gotoLogin()">
                        Log In
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>